.search-bar-container {
  position: absolute;
  right: 15%;
  top: 10%;

  input {
    background-color: #a97440;
    color: #121212;
    width: 300px;
    height: 30px;
    font-size: 18px;
    border: 0;
    border-radius: 3px;
    padding: 5px;
  }

  i {
    position: absolute;
    right: 0;
    font-size: 32px;
    color: #5f3d1d;
    top: 10%;
    cursor: pointer;
  }
}