<div class="container">
    <back-button (click)="goBack()"></back-button>
    <progress-spinner *ngIf="loading"></progress-spinner>
    <div class="piece-container" *ngIf="!loading">
        <div class="piece-image" *ngIf="piece.thumbnail">
            <img [src]="_DomSanitization.bypassSecurityTrustUrl(piece.thumbnail)">
        </div>
        <div class="piece-info-container">
            <h3>{{piece.name}}</h3>
            <div class="piece-info">
                <p><b>Descrição: </b>{{piece.description}}</p>
                <p *ngIf="piece.period"><b>Época: </b>{{piece.period}}</p>
                <p *ngIf="piece.origin"><b>Procedência: </b>{{piece.origin}}</p>
                <p *ngIf="piece.owner"><b>Proprietário: </b>{{piece.owner}}</p>
                <p *ngIf="piece.acquirement"><b>Aquisição: </b>{{piece.acquirement}}</p>
                <p><b>Nº de Ordem: </b>{{piece.order}}</p>
            </div>
        </div>
    </div>
</div>