<div class="container">
    <back-button [routerLink]="['']"></back-button>
    <progress-spinner *ngIf="loading"></progress-spinner>
    <div class="listing-container">
        <h3>{{area.name}}</h3>
        <div class="pieces-container">
            <div class="piece" *ngFor="let piece of area.pieces" id="pieces">
                <img [src]="_DomSanitization.bypassSecurityTrustUrl(piece.thumbnail)"
                    [routerLink]="['/pieces', piece.id]">
                <p>{{piece.name}}</p>
            </div>
        </div>
    </div>
</div>